/* input {
  margin: 5px 0 5px 0;
  background-color: #ffffff;
}

div {
  display: grid;
  justify-content: center;
}

button {
  margin-top: 5px;
}

small {
  color: #ffffff;
  background-color: crimson;
  border-radius: 5px;
  text-align: center;
} */
