/* You can add global styles to this file, and also import other style files */
*,
body,
html {
  /* background-color: cyan; */
}
input {
  margin: 5px 0 5px 0;
  background-color: #ffffff;
}

div {
  display: grid;
  justify-content: center;
}

button {
  /* color: #ffffff; */
  margin-top: 5px;
  /* background-color: greenyellow; */
}

small {
  color: #ffffff;
  background-color: crimson;
  border-radius: 5px;
  text-align: center;
}
